

/****************************
*  Font styles
*****************************/
body {
    text-align: center;
}

h1{
    font-family: 'Cormorant SC', serif;
}

/*Navigation bar*/
.topNav {
    background-color: Black;
    overflow: Hidden;
}
.logo {
    display: inline-block;
    width: 150px;
    height: 150px;
    float: left;
}

.topNav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.content {
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.customer {
    flex: 20%;
    padding: 10px;
    margin: 5px;
    background-color: #f3f3f3;
    inline-size: 100%;
}

.name a {
    color: #00a36f;
    text-decoration: none;
}
