

/****************************
*  Font styles
*****************************/
body {
    text-align: center;
}

h1{
    font-family: 'Cormorant SC', serif;
}

/****************************
* Navigation bar Design
*****************************/
.topNav {
    background-color: Black;
    overflow: Hidden;
}
/************************************
* Formatting of logo image in Nav bar
************************************/
.logo {
    display: inline-block;
    width: 150px;
    height: 150px;
    float: left;
}

/************************************
* Formatting of text in Nav bar
************************************/
.topNav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/****************************
* Formatting of enties Info
*****************************/
.content {
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/****************************
* Formatting of entities style on page
*****************************/
.entity {
    flex: 20%;
    padding: 10px;
    margin: 5px;
    background-color: #f3f3f3;
    inline-size: 100%;
}

/****************************
* Creates a white box for a review
*****************************/
.bio {
    padding: 10px;
    margin: 5px;
    background-color: #ffffff;
    color: #004835;
}

.name a {
    color: #00a36f;
    text-decoration: none;
}
