<!DOCTYPE html>
<html>
    <head>
    <!--Necessary formatting -->
    <meta charset="utf-8">
    <meta name = "viewport" content="width=device-width,initial-scale=1" />

    </head>
    <body> 
        {% extends "template.html" %}
        {% block content %}
        <h1>Reviews for {{reviews[0][4]}}</h1>
        <div class="content">
            {% for review in reviews %}
                <div class="entity">
                    <p>Date: {{review[1]}}</p>
                    <p>Time: {{review[2]}}</p>
                    <div class="bio">
                        <h4>Rating:</h4>
                        <p>{{review[0]}}/5</p>
                        <h4>Comment:</h4>
                        <p>{{review[5]}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endblock %}
    </body>
</html>