<!DOCTYPE html>
<html>
    <head>
    <!--Necessary formatting -->
    <meta charset="utf-8">
    <meta name = "viewport" content="width=device-width,initial-scale=1" />

    </head>
    <body> 
        {% extends "template.html" %}
        {% block content %}
        <h1>Your Review</h1>
        <h1>Your Jobs</h1>
        <!-- <div class="content">
            {% for review in reviews %}
                <div class="entity">
                    <p>Time:{{review[6]}}</p>
                    <p>Date: {{review[5]}}</p>
                    <div class="bio">
                        <h4>Comment:</h4>
                        <p>{{ review[4]}}</p>
                    </div>
                </div>
            {% endfor %}
        </div> -->
        {% endblock %}
    </body>
</html>