<!DOCTYPE html>
<html>
    <head>
    <!--Necessary formatting -->
    <meta charset="utf-8">
    <meta name = "viewport" content="width=device-width,initial-scale=1" />

    </head>
    <body> 
        {% extends "template.html" %}
        {% block content %}
        <h1>Contractor App</h1>
        <p>Find contractors and jobs!</p>
      
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
                {% for customer in customers %} 
                    <tr>
                        <td>{{customer[0]}}</td>
                        <td>{{customer[1]}}</td>
                        <td>{{customer[2]}}</td>
                        <td>{{customer[3]}}</td>
                    </tr>
                {% endfor %}        
            </tbody>
        </table>
        {% endblock %}
    </body>
</html>