<!DOCTYPE html>
<html>
    <head>
    <!--Necessary formatting -->
    <meta charset="utf-8">
    <meta name = "viewport" content="width=device-width,initial-scale=1" />

    </head>
    <body> 
        {% extends "template.html" %}
        {% block content %}
        <h1>Your Jobs</h1>
        <div class="content">
            {% for job in jobs %}
                <div class="entity">
                    <p>Service:{{job[3]}}</b></p>
                    <b>
                        <p>Time:{{job[4]}}</p>
                    </b>
                    <p>Date: {{job[5]}}</p>
                </div>
            {% endfor %}
        </div>
        {% endblock %}
    </body>
</html>