<!DOCTYPE html>
<html>
    <head>
    <!--Necessary formatting -->
    <meta charset="utf-8">
    <meta name = "viewport" content="width=device-width,initial-scale=1" />

    </head>
    <body> 
        {% extends "template.html" %}
        {% block content %}
        <h1>Your Account</h1>
        <!-- formats and displays contractor information -->
        <div class="content">
            {% for customer in customers %}
                <div class="entity">
                    <b>
                        <p class="name">{{customer[1]}}</p>
                    </b>
                    <p><b>Phone:{{customer[2]}}</b></p>
                    <p>Email:{{customer[3]}}</p>
                </div>
            {% endfor %}
        </div>
        {% endblock %}
    </body>
</html>