<!DOCTYPE html>
<html>
<head>
    <!--Necessary formatting -->
    <meta charset="utf-8">
    <meta name = "viewport" content="width=device-width,initial-scale=1" />
    <!---Linking js and css files-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contractor.css') }}">
    <script src="{{ url_for('static', filename='js/navigation.js') }}"></script>

    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&display=swap" rel="stylesheet">
    <title>Contractor Connect</title>
</head>
<body> 
    <!-- <h1>Contractor Connect</h1> -->
    <!--tool bar-->
    <div class="topNav">
        <img class = "logo" src = "{{url_for('static', filename='logo.png')}}" >
        <a id= "Home" href= "{{ url_for('home') }}" onmouseover="makeGray(Home)" onmouseout="makeBlack(Home)">Contractor Connect </a>
        <a id= "Login" href="{{ url_for('login') }}" onmouseover="makeGray(Login)" onmouseout="makeBlack(Login)">Login</a>
        <a id= "Jobs" href="{{ url_for('job') }}" onmouseover="makeGray(Jobs)" onmouseout="makeBlack(Jobs)">Jobs</a>
        <a id= "ContractorReviews" href="{{ url_for('contractorReviews') }}" onmouseover="makeGray(ContractorReviews)" onmouseout="makeBlack(ContractorReviews)">Contractor Reviews </a>
     </div> 
    {% block content %}
    {% endblock %}
</body>
</html>